// Colors override
$dusty-mauve: #7c7287ff;
$turquoise-surf: #0eb1d2ff;
$vibrant-coral: #ffc55a;
$flag-red: #c81d25ff;
$platinum: #f3f3f4ff;
$lime-cream: #fffd98;
$cool-grey: #8f99a3;
$deep-blue: #5b86e5;
$emerald-blue: #36d1dc;

// Footer settings
$footer-padding: 1.5rem 1.5rem 1.5rem;

@use 'bulma/sass' with (
  $text: $dusty-mauve,
  $primary: $deep-blue,
  $success: $lime-cream,
  $warning: $vibrant-coral,
  $danger: $flag-red,
  $footer-padding: $footer-padding
);

// Material Design Icons
@use 'material-symbols/outlined.css';

// Custom styles
:root {
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
  }
}

html,
body {
  height: 100vh;
  font-family:
    Poppins, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #ecf0f3;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}

// Disabled state
.is-disabled {
  color: #d5d5d5;
  pointer-events: none;
  cursor: default;
}

// TODO: Refactor this when front end development is finished
nav.navbar {
  border-top: 4px solid $deep-blue;
}
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item,
.navbar-link {
  font-size: 14px;
  font-weight: 700;
}
.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.menu-label {
  color: $cool-grey;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list a {
  color: #0f1d38;
  font-size: 14px;
  font-weight: 700;
}
.menu-list a:hover {
  background-color: transparent;
  color: $deep-blue;
}
.menu-list a.is-active {
  background-color: transparent;
  color: $deep-blue;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.card-header-title {
  color: $cool-grey;
  font-weight: 400;
}
.info-tiles {
  margin: 1rem 0;
}
.info-tiles .subtitle {
  font-weight: 300;
  color: $cool-grey;
}
.hero.welcome.is-info {
  background: $emerald-blue;
  background: -webkit-linear-gradient(to right, $deep-blue, $emerald-blue);
  background: linear-gradient(to right, $deep-blue, $emerald-blue);
}
.hero.welcome .title,
.hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}
.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: $cool-grey;
}
/* .card-footer-item:hover {

} */
.card-table .table {
  margin-bottom: 0;
}
.events-card .card-table {
  max-height: 250px;
  overflow-y: scroll;
}

/*Footer*/

.footer {
  font-weight: 700;
  color: $cool-grey;

  p {
    font-size: 14px;
  }
}

/* Cards */
.card-header {
  h2 {
    font-weight: 500;
    font-size: 1.3rem;
    color: $deep-blue;
  }
}
